[Unit]
Description=bazarr container
Wants=network-online.target
After=network-online.target arr-suite-network.service sonarr.service radarr.service
Requires=arr-suite-network.service sonarr.service radarr.service

[Container]
Image=lscr.io/linuxserver/bazarr:latest
ContainerName=bazarr
PublishPort=6767:6767
Network=arr-suite.network
Volume=/home/user/arr-suite/config/bazarr:/config:z
Volume=/mnt/nas/media:/media:z
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Chicago
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
