[Unit]
Description=lidarr container
Wants=network-online.target
After=network-online.target arr-suite-network.service qbittorrent.service prowlarr.service
Requires=arr-suite-network.service qbittorrent.service prowlarr.service

[Container]
Image=lscr.io/linuxserver/lidarr:latest
ContainerName=lidarr
PublishPort=8686:8686
Network=arr-suite.network
Volume=/home/user/arr-suite/config/lidarr:/config:z
Volume=/mnt/nas/media:/media:z
Volume=/mnt/nas/downloads:/downloads:z
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Chicago
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
