[Unit]
Description=qbittorrent container
Wants=network-online.target
After=network-online.target arr-suite-network.service
Requires=arr-suite-network.service

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
ContainerName=qbittorrent
PublishPort=8080:8080
PublishPort=6881:6881
PublishPort=6881:6881/udp
Network=arr-suite.network
Volume=/home/user/arr-suite/config/qbittorrent:/config:z
Volume=/mnt/nas/downloads:/downloads:z
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/Chicago
Environment=WEBUI_PORT=8080
Label=io.containers.autoupdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
