[Unit]
Description=Jellyfin
After=network-online.target

[Container]
Image=ghcr.io/hotio/jellyfin
ContainerName=jellyfin
Environment=PUID=1000
Environment=PGID=1001
Environment=UMASK=002
Environment=TZ=UTC
PublishPort=8096:8096
Volume=/mnt/data/appdata/jellyfin:/config
Volume=/mnt/data/data/media:/data/media
Network=media.network
AutoUpdate=registry
Notify=healthy
HealthCmd=curl -sf http://localhost:8096/health
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
