[Unit]
Description=qBittorrent
After=network-online.target

[Container]
Image=ghcr.io/hotio/qbittorrent
ContainerName=qbittorrent
Environment=PUID=1000
Environment=PGID=1001
Environment=UMASK=002
Environment=TZ=UTC
PublishPort=8080:8080
PublishPort=63630:63630
PublishPort=63630:63630/udp
Volume=/mnt/data/appdata/qbittorrent:/config
Volume=/mnt/data/data/torrents:/data/torrents
Volume=/usr/local/share/VueTorrent:/VueTorrent:ro
Network=media.network
AutoUpdate=registry
Notify=healthy
HealthCmd=curl -sf http://localhost:8080/
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
