[Unit]
Description=Sonarr
After=network-online.target

[Container]
Image=ghcr.io/hotio/sonarr
ContainerName=sonarr
Environment=PUID=1000
Environment=PGID=1001
Environment=UMASK=002
Environment=TZ=UTC
PublishPort=8989:8989
Volume=/mnt/data/appdata/sonarr:/config
Volume=/mnt/data/data:/data
Network=media.network
AutoUpdate=registry
Notify=healthy
HealthCmd=curl -sf http://localhost:8989/ping
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=60s
HealthTimeout=10s

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
